.count-change>span{
  font-size: xx-large;
  cursor: pointer;
  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */

  -moz-user-select: none;
  /* поэтому нужны префиксы */

  -ms-user-select: none;
}
.count-change>.count-num{
  font-size: x-large;
}
